{
  "root": true,
  "extends": ["airbnb", "airbnb-typescript", "airbnb/hooks", "prettier"],
  "parserOptions": {
    "project": "tsconfig.json"
  },
  "rules": {
    "linebreak-style": 0,
    "eslint linebreak-style": [0, "error", "windows"],
    "react/prop-types": "off",
    "react/jsx-one-expression-per-line": "off",
    "no-unused-vars": "off",
    "@typescript-eslint/no-unused-vars": ["warn"],
    "react/jsx-filename-extension": [
      1,
      {
        "extensions": [".ts", ".tsx"]
      }
    ]
  }
}
